@media print {
    @page {
        size: landscape;
    }
    body {
        margin: 10mm 0 0 0;
    }
    #btnPrint {
        display: none;
    }
    #table2 {
        margin-top: 300px
    }
}

html, body {
    font-family: 'Nunito', sans-serif;
}

.verticalText {
    width: 30px;
    text-align: center;
    white-space: nowrap;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
    -webkit-font-smoothing: antialiased;
}

.verticalText:before {
    content: '';
    padding-top: 600%;
    display: inline-block;
    vertical-align: middle;
}

th.rotate {
    border-top: none;
    border-left: 1px solid #dee2e6;
    border-right: 2px solid #dee2e6;
    pointer-events: none;
}

th.divider {
    border-top: 1px solid #dee2e6;
}

.my-table-hover tbody tr td:hover {
    background-color: #f5f5f5;
}